proj/stc/STC.Projects.WCF.ServiceLayer/Service References/SocialMediaServiceOfflineReference/SocialMediaServiceOffline.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PublishToFacebook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="post" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageBytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishToFacebookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublishToFacebookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishToTwitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="post" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageBytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishToTwitterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublishToTwitterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>