proj/stc/STC.Projects.WCF.ServiceLayer/Service References/SocialMediaServiceOfflineReference/SocialMediaServiceOffline.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SocialMediaServiceOffline" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24172/SocialMediaServiceOffline.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24172/SocialMediaServiceOffline.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISocialMediaServiceOffline_PublishToFacebook_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishToFacebook" />
  </wsdl:message>
  <wsdl:message name="ISocialMediaServiceOffline_PublishToFacebook_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishToFacebookResponse" />
  </wsdl:message>
  <wsdl:message name="ISocialMediaServiceOffline_PublishToTwitter_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishToTwitter" />
  </wsdl:message>
  <wsdl:message name="ISocialMediaServiceOffline_PublishToTwitter_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishToTwitterResponse" />
  </wsdl:message>
  <wsdl:portType name="ISocialMediaServiceOffline">
    <wsdl:operation name="PublishToFacebook">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialMediaServiceOffline/PublishToFacebook" message="tns:ISocialMediaServiceOffline_PublishToFacebook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialMediaServiceOffline/PublishToFacebookResponse" message="tns:ISocialMediaServiceOffline_PublishToFacebook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublishToTwitter">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocialMediaServiceOffline/PublishToTwitter" message="tns:ISocialMediaServiceOffline_PublishToTwitter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocialMediaServiceOffline/PublishToTwitterResponse" message="tns:ISocialMediaServiceOffline_PublishToTwitter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISocialMediaServiceOffline" type="tns:ISocialMediaServiceOffline">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PublishToFacebook">
      <soap:operation soapAction="http://tempuri.org/ISocialMediaServiceOffline/PublishToFacebook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishToTwitter">
      <soap:operation soapAction="http://tempuri.org/ISocialMediaServiceOffline/PublishToTwitter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SocialMediaServiceOffline">
    <wsdl:port name="BasicHttpBinding_ISocialMediaServiceOffline" binding="tns:BasicHttpBinding_ISocialMediaServiceOffline">
      <soap:address location="http://localhost:24172/SocialMediaServiceOffline.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>