proj/stc/STC.Projects.WPFControlLibrary.MapControl/Service References/ViolationServiceReference/ViolationsLayer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AssetViolationCountDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DayCount" type="xs:int" />
      <xs:element minOccurs="0" name="MonthCount" type="xs:int" />
      <xs:element minOccurs="0" name="WeekCount" type="xs:int" />
      <xs:element minOccurs="0" name="YearCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetViolationCountDTO" nillable="true" type="tns:AssetViolationCountDTO" />
</xs:schema>