proj/stc/STC.Projects.WPFControlLibrary.MapControl/Service References/ViolationServiceReference/ViolationsLayer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://stc-connect.cloudapp.net/WCFService/ViolationsLayer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" />
  <xs:element name="GetViolationCountsByAssetCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationCountsByAssetCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationCountsByAssetCodeResult" nillable="true" type="q1:AssetViolationCountDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>