proj/stc/STC.Projects.WPFControlLibrary.AlertNotificationMapControl/Service References/ADPUTSserviceReference/ADPUTSService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVehiclePlateClassificationsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehiclePlateClassificationsDTO" nillable="true" type="tns:VehiclePlateClassificationsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehiclePlateClassificationsDTO" nillable="true" type="tns:ArrayOfVehiclePlateClassificationsDTO" />
  <xs:complexType name="VehiclePlateClassificationsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehiclePlateClassificationsDTO" nillable="true" type="tns:VehiclePlateClassificationsDTO" />
  <xs:complexType name="ArrayOfVehiclePlateColorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehiclePlateColorDTO" nillable="true" type="tns:VehiclePlateColorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehiclePlateColorDTO" nillable="true" type="tns:ArrayOfVehiclePlateColorDTO" />
  <xs:complexType name="VehiclePlateColorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehiclePlateColorDTO" nillable="true" type="tns:VehiclePlateColorDTO" />
  <xs:complexType name="ArrayOfVehiclePlateKindDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehiclePlateKindDTO" nillable="true" type="tns:VehiclePlateKindDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehiclePlateKindDTO" nillable="true" type="tns:ArrayOfVehiclePlateKindDTO" />
  <xs:complexType name="VehiclePlateKindDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehiclePlateKindDTO" nillable="true" type="tns:VehiclePlateKindDTO" />
  <xs:complexType name="ArrayOfVehiclePlateSourceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehiclePlateSourceDTO" nillable="true" type="tns:VehiclePlateSourceDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehiclePlateSourceDTO" nillable="true" type="tns:ArrayOfVehiclePlateSourceDTO" />
  <xs:complexType name="VehiclePlateSourceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehiclePlateSourceDTO" nillable="true" type="tns:VehiclePlateSourceDTO" />
  <xs:complexType name="ArrayOfVehicleViolationClassificationsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleViolationClassificationsDTO" nillable="true" type="tns:VehicleViolationClassificationsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleViolationClassificationsDTO" nillable="true" type="tns:ArrayOfVehicleViolationClassificationsDTO" />
  <xs:complexType name="VehicleViolationClassificationsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleViolationClassificationsDTO" nillable="true" type="tns:VehicleViolationClassificationsDTO" />
  <xs:complexType name="ArrayOfVehicleViolationInterceptsTypesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleViolationInterceptsTypesDTO" nillable="true" type="tns:VehicleViolationInterceptsTypesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleViolationInterceptsTypesDTO" nillable="true" type="tns:ArrayOfVehicleViolationInterceptsTypesDTO" />
  <xs:complexType name="VehicleViolationInterceptsTypesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleViolationInterceptsTypesDTO" nillable="true" type="tns:VehicleViolationInterceptsTypesDTO" />
  <xs:complexType name="ArrayOfVehicleViolationsTypesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleViolationsTypesDTO" nillable="true" type="tns:VehicleViolationsTypesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleViolationsTypesDTO" nillable="true" type="tns:ArrayOfVehicleViolationsTypesDTO" />
  <xs:complexType name="VehicleViolationsTypesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="FineValue" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PresenseAbsenceStatus" type="xs:int" />
      <xs:element minOccurs="0" name="TrafficPoint" type="xs:int" />
      <xs:element minOccurs="0" name="ViolationClassficationId" type="xs:int" />
      <xs:element minOccurs="0" name="ViolationDuration" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleViolationsTypesDTO" nillable="true" type="tns:VehicleViolationsTypesDTO" />
  <xs:complexType name="ArrayOfVehicleUTSTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleUTSTypeDTO" nillable="true" type="tns:VehicleUTSTypeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleUTSTypeDTO" nillable="true" type="tns:ArrayOfVehicleUTSTypeDTO" />
  <xs:complexType name="VehicleUTSTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleUTSTypeDTO" nillable="true" type="tns:VehicleUTSTypeDTO" />
  <xs:complexType name="ArrayOfVehicleModelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleModelDTO" nillable="true" type="tns:VehicleModelDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleModelDTO" nillable="true" type="tns:ArrayOfVehicleModelDTO" />
  <xs:complexType name="VehicleModelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleModelDTO" nillable="true" type="tns:VehicleModelDTO" />
</xs:schema>