proj/stc/STC.Projects.WCF.ServiceLayer/Service References/STCTFMService/TFMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TFMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://aghqsrv453/TFM/TFMService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://aghqsrv453/TFM/TFMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://aghqsrv453/TFM/TFMService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://aghqsrv453/TFM/TFMService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITFMService_GetTaskImagesURLs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskImagesURLs" />
  </wsdl:message>
  <wsdl:message name="ITFMService_GetTaskImagesURLs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskImagesURLsResponse" />
  </wsdl:message>
  <wsdl:message name="ITFMService_GetTaskVideosURLs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskVideosURLs" />
  </wsdl:message>
  <wsdl:message name="ITFMService_GetTaskVideosURLs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskVideosURLsResponse" />
  </wsdl:message>
  <wsdl:message name="ITFMService_GetPatrolDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatrolDetails" />
  </wsdl:message>
  <wsdl:message name="ITFMService_GetPatrolDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatrolDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITFMService">
    <wsdl:operation name="GetTaskImagesURLs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITFMService/GetTaskImagesURLs" message="tns:ITFMService_GetTaskImagesURLs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITFMService/GetTaskImagesURLsResponse" message="tns:ITFMService_GetTaskImagesURLs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskVideosURLs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITFMService/GetTaskVideosURLs" message="tns:ITFMService_GetTaskVideosURLs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITFMService/GetTaskVideosURLsResponse" message="tns:ITFMService_GetTaskVideosURLs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatrolDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITFMService/GetPatrolDetails" message="tns:ITFMService_GetPatrolDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITFMService/GetPatrolDetailsResponse" message="tns:ITFMService_GetPatrolDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITFMService" type="tns:ITFMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTaskImagesURLs">
      <soap:operation soapAction="http://tempuri.org/ITFMService/GetTaskImagesURLs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskVideosURLs">
      <soap:operation soapAction="http://tempuri.org/ITFMService/GetTaskVideosURLs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatrolDetails">
      <soap:operation soapAction="http://tempuri.org/ITFMService/GetPatrolDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TFMService">
    <wsdl:port name="BasicHttpBinding_ITFMService" binding="tns:BasicHttpBinding_ITFMService">
      <soap:address location="http://aghqsrv453/TFM/TFMService.svc/TFMSoap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>