proj/stc/STC.Projects.WCF.ServiceLayer/Service References/STCTFMService/TFMService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PatrolOfficersDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Officers" nillable="true" type="tns:ArrayOfStaffPatrolModel" />
      <xs:element minOccurs="0" name="PatrolAllocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatrolCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatrolPlateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusArabic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusEnglish" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatrolOfficersDetailsDTO" nillable="true" type="tns:PatrolOfficersDetailsDTO" />
  <xs:complexType name="ArrayOfStaffPatrolModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StaffPatrolModel" nillable="true" type="tns:StaffPatrolModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStaffPatrolModel" nillable="true" type="tns:ArrayOfStaffPatrolModel" />
  <xs:complexType name="StaffPatrolModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MilitaryNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StaffPatrolModel" nillable="true" type="tns:StaffPatrolModel" />
</xs:schema>