proj/stc/STC.Projects.WPFControlLibrary.AdminPage/Service References/ServiceReference1/ServiceLayer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Windows.Media" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Windows.Media" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://stc-connect.cloudapp.net:8013/WCFService/ServiceLayer.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media.Animation" />
  <xs:complexType name="Brush">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Windows.Media.Animation" base="q1:Animatable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Opacity" type="xs:double" />
          <xs:element minOccurs="0" name="RelativeTransform" nillable="true" type="tns:Transform" />
          <xs:element minOccurs="0" name="Transform" nillable="true" type="tns:Transform" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Brush" nillable="true" type="tns:Brush" />
  <xs:complexType name="Transform">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GeneralTransform">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Transform" nillable="true" type="tns:Transform" />
  <xs:complexType name="GeneralTransform">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Windows.Media.Animation" base="q2:Animatable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GeneralTransform" nillable="true" type="tns:GeneralTransform" />
</xs:schema>