proj/stc/STC.Projects.WPFControlLibrary.MapControl/Service References/GISReference/GisService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GisService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://stc-connect.cloudapp.net/WCFService/GisService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://stc-connect.cloudapp.net/WCFService/GisService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://stc-connect.cloudapp.net/WCFService/GisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" />
      <xsd:import schemaLocation="http://stc-connect.cloudapp.net/WCFService/GisService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/STC.Projects.WCF.ServiceLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGisService_GetAssets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssets" />
  </wsdl:message>
  <wsdl:message name="IGisService_GetAssets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssetsResponse" />
  </wsdl:message>
  <wsdl:message name="IGisService_GetDriveTimePolygons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDriveTimePolygons" />
  </wsdl:message>
  <wsdl:message name="IGisService_GetDriveTimePolygons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriveTimePolygonsResponse" />
  </wsdl:message>
  <wsdl:portType name="IGisService">
    <wsdl:operation name="GetAssets">
      <wsdl:input wsaw:Action="http://tempuri.org/IGisService/GetAssets" message="tns:IGisService_GetAssets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGisService/GetAssetsResponse" message="tns:IGisService_GetAssets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDriveTimePolygons">
      <wsdl:input wsaw:Action="http://tempuri.org/IGisService/GetDriveTimePolygons" message="tns:IGisService_GetDriveTimePolygons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGisService/GetDriveTimePolygonsResponse" message="tns:IGisService_GetDriveTimePolygons_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGisService" type="tns:IGisService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAssets">
      <soap:operation soapAction="http://tempuri.org/IGisService/GetAssets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDriveTimePolygons">
      <soap:operation soapAction="http://tempuri.org/IGisService/GetDriveTimePolygons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GisService">
    <wsdl:port name="BasicHttpBinding_IGisService" binding="tns:BasicHttpBinding_IGisService">
      <soap:address location="http://stc-connect.cloudapp.net/WCFService/GisService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>