proj/stc/STC.Projects.WPFControlLibrary.MapControl/Service References/GISReference/GisService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://stc-connect.cloudapp.net/WCFService/GisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" />
  <xs:import schemaLocation="http://stc-connect.cloudapp.net/WCFService/GisService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/STC.Projects.WCF.ServiceLayer" />
  <xs:element name="GetAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="mapPoints" nillable="true" type="q1:ArrayOfMapPointDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetAssetsResult" nillable="true" type="q2:ArrayOfAssetsDetailsViewDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriveTimePolygons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="point" nillable="true" type="q3:MapPointDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriveTimePolygonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/STC.Projects.WCF.ServiceLayer" minOccurs="0" name="GetDriveTimePolygonsResult" nillable="true" type="q4:ArrayOfGraphicDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>