proj/stc/STC.Projects.WPFControlLibrary.MapControl/Service References/GISReference/GisService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/STC.Projects.WCF.ServiceLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/STC.Projects.WCF.ServiceLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGraphicDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GraphicDTO" nillable="true" type="tns:GraphicDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGraphicDTO" nillable="true" type="tns:ArrayOfGraphicDTO" />
  <xs:complexType name="GraphicDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="polygonObject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="symbolObject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GraphicDTO" nillable="true" type="tns:GraphicDTO" />
</xs:schema>