proj/stc/STC.Projects.WPFControlLibrary.MapControl/Service References/SmartOfficerServiceReference/SmartOfficerLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SmartOfficerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="OfficerId" type="xs:long" />
      <xs:element minOccurs="0" name="OfficerImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="OfficerMilitaryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficerPatrolPlateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SmartOfficerDTO" nillable="true" type="tns:SmartOfficerDTO" />
  <xs:complexType name="OfficerTaskDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="OfficerMilitaryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficerTaskId" type="xs:long" />
      <xs:element minOccurs="0" name="TaskLastStatus" nillable="true" type="tns:TaskStatusDTO" />
      <xs:element minOccurs="0" name="TaskMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OfficerTaskDTO" nillable="true" type="tns:OfficerTaskDTO" />
  <xs:complexType name="TaskStatusDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaskStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskStatusNameAr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskStatusNameEn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskStatusDTO" nillable="true" type="tns:TaskStatusDTO" />
</xs:schema>