proj/stc/STC.Projects.WPFControlLibrary.SOPBox/Service References/CrispService/CrsipServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://stc-connect.cloudapp.net:8013/WCFService/CrsipServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PatrolLastLocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ETATime" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="IsNoticed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecommended" type="xs:boolean" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="LocationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="NumberOfAssignedIncident" type="xs:int" />
      <xs:element minOccurs="0" name="PatrolCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatrolId" type="xs:long" />
      <xs:element minOccurs="0" name="PatrolLatLocationId" type="xs:long" />
      <xs:element minOccurs="0" name="PatrolOriginalId" type="ser:guid" />
      <xs:element minOccurs="0" name="PatrolPlateNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speed" type="xs:int" />
      <xs:element minOccurs="0" name="StatusId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isDeleted" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatrolLastLocationDTO" nillable="true" type="tns:PatrolLastLocationDTO" />
  <xs:complexType name="ArrayOfPatrolLastLocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatrolLastLocationDTO" nillable="true" type="tns:PatrolLastLocationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatrolLastLocationDTO" nillable="true" type="tns:ArrayOfPatrolLastLocationDTO" />
</xs:schema>