proj/stc/STC.Projects.WPFControlLibrary.SOPBox/Service References/CrispService/CrsipServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://stc-connect.cloudapp.net:8013/WCFService/CrsipServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" />
  <xs:element name="AddSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nodesXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParseNodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseCars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="carsXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParseCarsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecommendCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecommendCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="RecommendCarResult" nillable="true" type="q1:PatrolLastLocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionsCars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionsCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="PositionsCarsResult" nillable="true" type="q2:ArrayOfPatrolLastLocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleSessions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleSessionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleCars">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="availableCars" nillable="true" type="q3:ArrayOfPatrolLastLocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleCarsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareCars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareCarsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMaxAllowedTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxAllowedTimeInMins" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMaxAllowedTimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatrol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patrolCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patrolPlateNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatrolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPatrolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePatrol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patrolId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePatrolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovePatrolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestCarParse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestCarParseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestCarParseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolsETA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolsETAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetPatrolsETAResult" nillable="true" type="q4:ArrayOfPatrolLastLocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxAllowedTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxAllowedTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMaxAllowedTimeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolsETAs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="patrols" nillable="true" type="q5:ArrayOfPatrolLastLocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolsETAsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetPatrolsETAsResult" nillable="true" type="q6:ArrayOfPatrolLastLocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>