proj/stc/STC.Projects.WPFControlLibrary.SOPBox/Service References/SmartTowerServiceReference/SmartTowerIntegrationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/SmartTowerIntegrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.SmartTowerIntegration.DTO" />
  <xs:element name="GetAllTowerStaticMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TowerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTowerStaticMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.SmartTowerIntegration.DTO" minOccurs="0" name="GetAllTowerStaticMessagesResult" nillable="true" type="q1:ArrayOfTowerPredefinedMessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTowerCurrentMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.SmartTowerIntegration.DTO" minOccurs="0" name="TowerMessage" nillable="true" type="q2:TowerMessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTowerCurrentMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTowerCurrentMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTowerCurrentMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TowerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTowerCurrentMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.SmartTowerIntegration.DTO" minOccurs="0" name="GetTowerCurrentMessageResult" nillable="true" type="q3:TowerMessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTowerSensorCurrentReading">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SensorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTowerSensorCurrentReadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.SmartTowerIntegration.DTO" minOccurs="0" name="GetTowerSensorCurrentReadingResult" nillable="true" type="q4:SensorReadingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>