proj/stc/STC.Projects.WPFControlLibrary.SOPBox/Service References/SmartTowerServiceReference/SmartTowerIntegrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartTowerIntegrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/SmartTowerIntegrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/SmartTowerIntegrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/SmartTowerIntegrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.SmartTowerIntegration.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmartTowerIntegrationService_GetAllTowerStaticMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTowerStaticMessages" />
  </wsdl:message>
  <wsdl:message name="ISmartTowerIntegrationService_GetAllTowerStaticMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTowerStaticMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartTowerIntegrationService_UpdateTowerCurrentMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTowerCurrentMessage" />
  </wsdl:message>
  <wsdl:message name="ISmartTowerIntegrationService_UpdateTowerCurrentMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTowerCurrentMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartTowerIntegrationService_GetTowerCurrentMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTowerCurrentMessage" />
  </wsdl:message>
  <wsdl:message name="ISmartTowerIntegrationService_GetTowerCurrentMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTowerCurrentMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartTowerIntegrationService_GetTowerSensorCurrentReading_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTowerSensorCurrentReading" />
  </wsdl:message>
  <wsdl:message name="ISmartTowerIntegrationService_GetTowerSensorCurrentReading_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTowerSensorCurrentReadingResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmartTowerIntegrationService">
    <wsdl:operation name="GetAllTowerStaticMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartTowerIntegrationService/GetAllTowerStaticMessages" message="tns:ISmartTowerIntegrationService_GetAllTowerStaticMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartTowerIntegrationService/GetAllTowerStaticMessagesResponse" message="tns:ISmartTowerIntegrationService_GetAllTowerStaticMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTowerCurrentMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartTowerIntegrationService/UpdateTowerCurrentMessage" message="tns:ISmartTowerIntegrationService_UpdateTowerCurrentMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartTowerIntegrationService/UpdateTowerCurrentMessageResponse" message="tns:ISmartTowerIntegrationService_UpdateTowerCurrentMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTowerCurrentMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartTowerIntegrationService/GetTowerCurrentMessage" message="tns:ISmartTowerIntegrationService_GetTowerCurrentMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartTowerIntegrationService/GetTowerCurrentMessageResponse" message="tns:ISmartTowerIntegrationService_GetTowerCurrentMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTowerSensorCurrentReading">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartTowerIntegrationService/GetTowerSensorCurrentReading" message="tns:ISmartTowerIntegrationService_GetTowerSensorCurrentReading_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartTowerIntegrationService/GetTowerSensorCurrentReadingResponse" message="tns:ISmartTowerIntegrationService_GetTowerSensorCurrentReading_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISmartTowerIntegrationService" type="tns:ISmartTowerIntegrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTowerStaticMessages">
      <soap:operation soapAction="http://tempuri.org/ISmartTowerIntegrationService/GetAllTowerStaticMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTowerCurrentMessage">
      <soap:operation soapAction="http://tempuri.org/ISmartTowerIntegrationService/UpdateTowerCurrentMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTowerCurrentMessage">
      <soap:operation soapAction="http://tempuri.org/ISmartTowerIntegrationService/GetTowerCurrentMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTowerSensorCurrentReading">
      <soap:operation soapAction="http://tempuri.org/ISmartTowerIntegrationService/GetTowerSensorCurrentReading" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartTowerIntegrationService">
    <wsdl:port name="BasicHttpBinding_ISmartTowerIntegrationService" binding="tns:BasicHttpBinding_ISmartTowerIntegrationService">
      <soap:address location="http://localhost:8082/SmartTowerIntegrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>