proj/stc/STC.Projects.WPFControlLibrary.SOPBox/Service References/SmartTowerServiceReference/SmartTowerIntegrationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.SmartTowerIntegration.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.SmartTowerIntegration.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTowerPredefinedMessageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TowerPredefinedMessageDTO" nillable="true" type="tns:TowerPredefinedMessageDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTowerPredefinedMessageDTO" nillable="true" type="tns:ArrayOfTowerPredefinedMessageDTO" />
  <xs:complexType name="TowerPredefinedMessageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MyLastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NotificationEnabled" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TowerPredefinedMessageDTO" nillable="true" type="tns:TowerPredefinedMessageDTO" />
  <xs:complexType name="TowerMessageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArabicMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnableNotification" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EnglishMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MixedMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MyLastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TowerId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TowerMessageDTO" nillable="true" type="tns:TowerMessageDTO" />
  <xs:complexType name="SensorReadingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstantMOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precipitation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelfTest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorReadingDTO" nillable="true" type="tns:SensorReadingDTO" />
</xs:schema>