proj/stc/STC.Projects.WPFControlLibrary.TrafficMapControl/Service References/ServiceLayerReference/ServiceLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/ServiceLayer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" />
  <xs:import schemaLocation="http://localhost:8082/ServiceLayer.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetWantedCarRadius">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWantedCarRadiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWantedCarRadiusResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsListGroupedByLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartDateTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ViolationTypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsListGroupedByLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationsListGroupedByLocationResult" nillable="true" type="q1:ArrayOfViolationsGroupedByLocationsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatedViolationsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsNoticed" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatedViolationsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetUpdatedViolationsListResult" nillable="true" type="q2:ArrayOfViolationNotificationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsListByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartDateTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDateTime" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsListByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationsListByDateResult" nillable="true" type="q3:ArrayOfViolationNotificationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentsListByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartDateTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDateTime" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentsListByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetIncidentsListByDateResult" nillable="true" type="q4:ArrayOfIncidentsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsDetailsForLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDateTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ViolationTypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsDetailsForLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationsDetailsForLocationResult" nillable="true" type="q5:ArrayOfViolationsDetailsByLocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveIncidentsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveIncidentsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetActiveIncidentsListResult" nillable="true" type="q6:ArrayOfIncidentsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncidentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetIncidentDetailsResult" nillable="true" type="q7:IncidentsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetStatusId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="AssetTypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetAssetsListResult" nillable="true" type="q8:ArrayOfAssetsViewDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsLastStatusList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsNoticed" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsLastStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetAssetsLastStatusListResult" nillable="true" type="q9:ArrayOfAssetLastStatusDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatrolStatusId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetPatrolsListResult" nillable="true" type="q10:ArrayOfPatrolLastLocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolStatusList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetPatrolStatusListResult" nillable="true" type="q11:ArrayOfPatrolStatusDimDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTypesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTypesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetAssetTypesListResult" nillable="true" type="q12:ArrayOfAssetTypeDimDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetStatusList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetAssetStatusListResult" nillable="true" type="q13:ArrayOfAssetStatusDimDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationTypesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationTypesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationTypesListResult" nillable="true" type="q14:ArrayOfViolationTypeDimDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountPerDayOfWeek">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountPerDayOfWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationsCountPerDayOfWeekResult" nillable="true" type="q15:ArrayOfViolationsCountPerDayOfWeekDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountPerDayOfWeekAndHour">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountPerDayOfWeekAndHourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationsCountPerDayOfWeekAndHourResult" nillable="true" type="q16:ArrayOfViolationsCountPerDayOfWeekAndHourDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountGroupedByType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountGroupedByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationsCountGroupedByTypeResult" nillable="true" type="q17:ArrayOfViolationsCountGroupedByTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountGroupedByTypePerDayOfWeek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dayofWeek" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountGroupedByTypePerDayOfWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationsCountGroupedByTypePerDayOfWeekResult" nillable="true" type="q18:ArrayOfViolationsCountGroupedByTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountGroupedByTypePerDayOfWeekAndHour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dayofWeek" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hour" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountGroupedByTypePerDayOfWeekAndHourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationsCountGroupedByTypePerDayOfWeekAndHourResult" nillable="true" type="q19:ArrayOfViolationsCountGroupedByTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountGroupedByLocation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountGroupedByLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationsCountGroupedByLocationResult" nillable="true" type="q20:ArrayOfViolationsCountGroupedByLocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountGroupedByLocationPerDayOfWeek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dayofWeek" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountGroupedByLocationPerDayOfWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationsCountGroupedByLocationPerDayOfWeekResult" nillable="true" type="q21:ArrayOfViolationsCountGroupedByLocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountGroupedByLocationPerDayOfWeekAndHour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dayofWeek" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hour" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationsCountGroupedByLocationPerDayOfWeekAndHourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationsCountGroupedByLocationPerDayOfWeekAndHourResult" nillable="true" type="q22:ArrayOfViolationsCountGroupedByLocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxNotificationsCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxNotificationsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxNotificationsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentFullDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncidentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncidentFullDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetIncidentFullDetailsResult" nillable="true" type="q23:IncidentDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationDetailsByAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDateTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ViolationTypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViolationDetailsByAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetViolationDetailsByAssetResult" nillable="true" type="q24:ViolationDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatrolId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatrolDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetPatrolDetailsResult" nillable="true" type="q25:PatrolFullDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetAllUsersListResult" nillable="true" type="q26:ArrayOfUsersDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSendControlToUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlToSend" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Usernames" nillable="true" type="q27:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSendControlToUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSendControlToUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageTypeSOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageTypeSOPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetMessageTypeSOPResult" nillable="true" type="q28:ArrayOfMessageTypeSOPDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearByTowersByLatLon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearByTowersByLatLonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetNearByTowersByLatLonResult" nillable="true" type="q29:ArrayOfAssetsViewDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearByRadarsByLatLon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearByRadarsByLatLonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetNearByRadarsByLatLonResult" nillable="true" type="q30:ArrayOfAssetsViewDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearByCamerasByLatLon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearByCamerasByLatLonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetNearByCamerasByLatLonResult" nillable="true" type="q31:ArrayOfAssetsViewDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTowerActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTowerActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetAllTowerActionsResult" nillable="true" type="q32:ArrayOfTowerActionsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadiusForNearByAssets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRadiusForNearByAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRadiusForNearByAssetsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="generalTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="ConvertXMLResult" nillable="true" type="q33:MessageTypeConvertOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTowerCameras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TowerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTowerCamerasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetAllTowerCamerasResult" nillable="true" type="q34:ArrayOfAssetsDetailsViewDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficersList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfficersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetOfficersListResult" nillable="true" type="q35:ArrayOfOfficersLastLocationViewDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearByPatrolsByLatLon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearByPatrolsByLatLonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetNearByPatrolsByLatLonResult" nillable="true" type="q36:ArrayOfPatrolLastLocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleDetailsByPlateNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="plateNumer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleDetailsByPlateNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" minOccurs="0" name="GetVehicleDetailsByPlateNumberResult" nillable="true" type="q37:VehicleLiveTrackingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>