proj/stc/STC.Projects.WPFControlLibrary.TrafficMapControl/Service References/ServiceLayerReference/ServiceLayer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/STC.Projects.ClassLibrary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/ServiceLayer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfViolationsGroupedByLocationsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViolationsGroupedByLocationsDTO" nillable="true" type="tns:ViolationsGroupedByLocationsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViolationsGroupedByLocationsDTO" nillable="true" type="tns:ArrayOfViolationsGroupedByLocationsDTO" />
  <xs:complexType name="ViolationsGroupedByLocationsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" type="xs:double" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="ViolationsCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationsGroupedByLocationsDTO" nillable="true" type="tns:ViolationsGroupedByLocationsDTO" />
  <xs:complexType name="ArrayOfViolationNotificationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViolationNotificationDTO" nillable="true" type="tns:ViolationNotificationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViolationNotificationDTO" nillable="true" type="tns:ArrayOfViolationNotificationDTO" />
  <xs:complexType name="ViolationNotificationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" type="xs:double" />
      <xs:element minOccurs="0" name="AssetCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackgroundColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CapturedSpeed" type="xs:int" />
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateTaken" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Direction" type="xs:int" />
      <xs:element minOccurs="0" name="DirectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCritical" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNoticed" type="xs:boolean" />
      <xs:element minOccurs="0" name="LPRId" type="xs:long" />
      <xs:element minOccurs="0" name="LaneNo" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MesuredSpeed" type="xs:int" />
      <xs:element minOccurs="0" name="PlateColorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateKindName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateSourceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceId" type="xs:int" />
      <xs:element minOccurs="0" name="SourceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpeedLimit" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViolationNotificationId" type="xs:long" />
      <xs:element minOccurs="0" name="ViolationStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="ViolationStatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViolationTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="ViolationTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationNotificationDTO" nillable="true" type="tns:ViolationNotificationDTO" />
  <xs:complexType name="ArrayOfIncidentsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IncidentsDTO" nillable="true" type="tns:IncidentsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncidentsDTO" nillable="true" type="tns:ArrayOfIncidentsDTO" />
  <xs:complexType name="IncidentsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BackgroundColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallTakerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CallTakerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallerLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DispatcheTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DispatcherId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DispatcherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentId" type="xs:long" />
      <xs:element minOccurs="0" name="IncidentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="IncidentTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCritical" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNoticed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriorityId" type="xs:int" />
      <xs:element minOccurs="0" name="PriorityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncidentsDTO" nillable="true" type="tns:IncidentsDTO" />
  <xs:complexType name="ArrayOfViolationsDetailsByLocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViolationsDetailsByLocationDTO" nillable="true" type="tns:ViolationsDetailsByLocationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViolationsDetailsByLocationDTO" nillable="true" type="tns:ArrayOfViolationsDetailsByLocationDTO" />
  <xs:complexType name="ViolationsDetailsByLocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" type="xs:double" />
      <xs:element minOccurs="0" name="AssetCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="ViolationTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="ViolationTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViolationsCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationsDetailsByLocationDTO" nillable="true" type="tns:ViolationsDetailsByLocationDTO" />
  <xs:complexType name="ArrayOfAssetsViewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetsViewDTO" nillable="true" type="tns:AssetsViewDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetsViewDTO" nillable="true" type="tns:ArrayOfAssetsViewDTO" />
  <xs:complexType name="AssetsViewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetsDetails" nillable="true" type="tns:ArrayOfAssetsDetailsViewDTO" />
      <xs:element minOccurs="0" name="ItemCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ItemCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" type="xs:long" />
      <xs:element minOccurs="0" name="ItemImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemStatusId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ItemStatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="OriginalIdent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetsViewDTO" nillable="true" type="tns:AssetsViewDTO" />
  <xs:complexType name="ArrayOfAssetsDetailsViewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetsDetailsViewDTO" nillable="true" type="tns:AssetsDetailsViewDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetsDetailsViewDTO" nillable="true" type="tns:ArrayOfAssetsDetailsViewDTO" />
  <xs:complexType name="AssetsDetailsViewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CameraURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetsDetailsViewDTO" nillable="true" type="tns:AssetsDetailsViewDTO" />
  <xs:complexType name="ArrayOfAssetLastStatusDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetLastStatusDTO" nillable="true" type="tns:AssetLastStatusDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetLastStatusDTO" nillable="true" type="tns:ArrayOfAssetLastStatusDTO" />
  <xs:complexType name="AssetLastStatusDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetLastStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="AssetStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="AssetStatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AssetTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateChanged" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsNoticed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetLastStatusDTO" nillable="true" type="tns:AssetLastStatusDTO" />
  <xs:complexType name="ArrayOfPatrolLastLocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatrolLastLocationDTO" nillable="true" type="tns:PatrolLastLocationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatrolLastLocationDTO" nillable="true" type="tns:ArrayOfPatrolLastLocationDTO" />
  <xs:complexType name="PatrolLastLocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="IsNoticed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="LocationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PatrolCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatrolId" type="xs:long" />
      <xs:element minOccurs="0" name="PatrolLatLocationId" type="xs:long" />
      <xs:element minOccurs="0" name="PatrolOriginalId" type="ser:guid" />
      <xs:element minOccurs="0" name="PatrolPlateNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speed" type="xs:int" />
      <xs:element minOccurs="0" name="StatusId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatrolLastLocationDTO" nillable="true" type="tns:PatrolLastLocationDTO" />
  <xs:complexType name="ArrayOfPatrolStatusDimDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatrolStatusDimDTO" nillable="true" type="tns:PatrolStatusDimDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatrolStatusDimDTO" nillable="true" type="tns:ArrayOfPatrolStatusDimDTO" />
  <xs:complexType name="PatrolStatusDimDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatrolStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatrolStatusId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatrolStatusDimDTO" nillable="true" type="tns:PatrolStatusDimDTO" />
  <xs:complexType name="ArrayOfAssetTypeDimDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetTypeDimDTO" nillable="true" type="tns:AssetTypeDimDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetTypeDimDTO" nillable="true" type="tns:ArrayOfAssetTypeDimDTO" />
  <xs:complexType name="AssetTypeDimDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetTypeDimDTO" nillable="true" type="tns:AssetTypeDimDTO" />
  <xs:complexType name="ArrayOfAssetStatusDimDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetStatusDimDTO" nillable="true" type="tns:AssetStatusDimDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetStatusDimDTO" nillable="true" type="tns:ArrayOfAssetStatusDimDTO" />
  <xs:complexType name="AssetStatusDimDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetStatusId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetStatusDimDTO" nillable="true" type="tns:AssetStatusDimDTO" />
  <xs:complexType name="ArrayOfViolationTypeDimDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViolationTypeDimDTO" nillable="true" type="tns:ViolationTypeDimDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViolationTypeDimDTO" nillable="true" type="tns:ArrayOfViolationTypeDimDTO" />
  <xs:complexType name="ViolationTypeDimDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ViolationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViolationTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationTypeDimDTO" nillable="true" type="tns:ViolationTypeDimDTO" />
  <xs:complexType name="ArrayOfViolationsCountPerDayOfWeekDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViolationsCountPerDayOfWeekDTO" nillable="true" type="tns:ViolationsCountPerDayOfWeekDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViolationsCountPerDayOfWeekDTO" nillable="true" type="tns:ArrayOfViolationsCountPerDayOfWeekDTO" />
  <xs:complexType name="ViolationsCountPerDayOfWeekDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DayOfWeek" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationsCountPerDayOfWeekDTO" nillable="true" type="tns:ViolationsCountPerDayOfWeekDTO" />
  <xs:complexType name="ArrayOfViolationsCountPerDayOfWeekAndHourDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViolationsCountPerDayOfWeekAndHourDTO" nillable="true" type="tns:ViolationsCountPerDayOfWeekAndHourDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViolationsCountPerDayOfWeekAndHourDTO" nillable="true" type="tns:ArrayOfViolationsCountPerDayOfWeekAndHourDTO" />
  <xs:complexType name="ViolationsCountPerDayOfWeekAndHourDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DayOfWeek" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViolationHour" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationsCountPerDayOfWeekAndHourDTO" nillable="true" type="tns:ViolationsCountPerDayOfWeekAndHourDTO" />
  <xs:complexType name="ArrayOfViolationsCountGroupedByTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViolationsCountGroupedByTypeDTO" nillable="true" type="tns:ViolationsCountGroupedByTypeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViolationsCountGroupedByTypeDTO" nillable="true" type="tns:ArrayOfViolationsCountGroupedByTypeDTO" />
  <xs:complexType name="ViolationsCountGroupedByTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ViolationTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="ViolationTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationsCountGroupedByTypeDTO" nillable="true" type="tns:ViolationsCountGroupedByTypeDTO" />
  <xs:complexType name="ArrayOfViolationsCountGroupedByLocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViolationsCountGroupedByLocationDTO" nillable="true" type="tns:ViolationsCountGroupedByLocationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViolationsCountGroupedByLocationDTO" nillable="true" type="tns:ArrayOfViolationsCountGroupedByLocationDTO" />
  <xs:complexType name="ViolationsCountGroupedByLocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationsCountGroupedByLocationDTO" nillable="true" type="tns:ViolationsCountGroupedByLocationDTO" />
  <xs:complexType name="IncidentDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedPatrol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispatchingTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentFinishTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
      <xs:element minOccurs="0" name="PatrolArrived" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncidentDetailsDTO" nillable="true" type="tns:IncidentDetailsDTO" />
  <xs:complexType name="ViolationDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetsDetails" nillable="true" type="tns:AssetDetailsForViolation" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
      <xs:element minOccurs="0" name="TotalsByStatus" nillable="true" type="tns:ArrayOfTotalViolationValuesByStatus" />
      <xs:element minOccurs="0" name="TotalsByTypes" nillable="true" type="tns:ArrayOfTotalViolationValuesByTypes" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationDetailsDTO" nillable="true" type="tns:ViolationDetailsDTO" />
  <xs:complexType name="AssetDetailsForViolation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastMainteanceDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetDetailsForViolation" nillable="true" type="tns:AssetDetailsForViolation" />
  <xs:complexType name="ArrayOfTotalViolationValuesByStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TotalViolationValuesByStatus" nillable="true" type="tns:TotalViolationValuesByStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTotalViolationValuesByStatus" nillable="true" type="tns:ArrayOfTotalViolationValuesByStatus" />
  <xs:complexType name="TotalViolationValuesByStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalCountOfViolations" type="xs:int" />
      <xs:element minOccurs="0" name="VioltionStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="VioltionStatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TotalViolationValuesByStatus" nillable="true" type="tns:TotalViolationValuesByStatus" />
  <xs:complexType name="ArrayOfTotalViolationValuesByTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TotalViolationValuesByTypes" nillable="true" type="tns:TotalViolationValuesByTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTotalViolationValuesByTypes" nillable="true" type="tns:ArrayOfTotalViolationValuesByTypes" />
  <xs:complexType name="TotalViolationValuesByTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalCountOfViolations" type="xs:int" />
      <xs:element minOccurs="0" name="VioltionTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="VioltionTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TotalViolationValuesByTypes" nillable="true" type="tns:TotalViolationValuesByTypes" />
  <xs:complexType name="PatrolFullDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatrolDetails" nillable="true" type="tns:PatrolDetailsDTO" />
      <xs:element minOccurs="0" name="PatrolOfficers" nillable="true" type="tns:PatrolOfficersDTO" />
      <xs:element minOccurs="0" name="PatrolPerformance" nillable="true" type="tns:PatrolPerformanceDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatrolFullDetailsDTO" nillable="true" type="tns:PatrolFullDetailsDTO" />
  <xs:complexType name="PatrolDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasicAllocationHub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatrolId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatrolDetailsDTO" nillable="true" type="tns:PatrolDetailsDTO" />
  <xs:complexType name="PatrolOfficersDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="OfficersMilitaryNumbers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficersName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficersPhoneNumbers" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatrolOfficersDTO" nillable="true" type="tns:PatrolOfficersDTO" />
  <xs:complexType name="PatrolPerformanceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageResponseTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastIncidentTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastResponseTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumActiveHours" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfIncidentHandled" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatrolPerformanceDTO" nillable="true" type="tns:PatrolPerformanceDTO" />
  <xs:complexType name="ArrayOfUsersDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsersDTO" nillable="true" type="tns:UsersDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsersDTO" nillable="true" type="tns:ArrayOfUsersDTO" />
  <xs:complexType name="UsersDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersDTO" nillable="true" type="tns:UsersDTO" />
  <xs:complexType name="ArrayOfMessageTypeSOPDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageTypeSOPDTO" nillable="true" type="tns:MessageTypeSOPDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageTypeSOPDTO" nillable="true" type="tns:ArrayOfMessageTypeSOPDTO" />
  <xs:complexType name="MessageTypeSOPDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="MessageTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
      <xs:element minOccurs="0" name="SOPContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOPControlName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOPDetailsControlName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOPDetailsDataMessageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOPDetailsXSLT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOPId" type="xs:int" />
      <xs:element minOccurs="0" name="SOPListDataMessageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOPListXSLT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageTypeSOPDTO" nillable="true" type="tns:MessageTypeSOPDTO" />
  <xs:complexType name="ArrayOfTowerActionsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TowerActionsDTO" nillable="true" type="tns:TowerActionsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTowerActionsDTO" nillable="true" type="tns:ArrayOfTowerActionsDTO" />
  <xs:complexType name="TowerActionsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TowerActionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TowerActionsDTO" nillable="true" type="tns:TowerActionsDTO" />
  <xs:complexType name="MessageTypeConvertOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewXML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageTypeConvertOutput" nillable="true" type="tns:MessageTypeConvertOutput" />
  <xs:complexType name="ArrayOfOfficersLastLocationViewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfficersLastLocationViewDTO" nillable="true" type="tns:OfficersLastLocationViewDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOfficersLastLocationViewDTO" nillable="true" type="tns:ArrayOfOfficersLastLocationViewDTO" />
  <xs:complexType name="OfficersLastLocationViewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" type="xs:double" />
      <xs:element minOccurs="0" name="CameraURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsNoticed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="LocationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="OfficerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficerHeartPulse" type="xs:double" />
      <xs:element minOccurs="0" name="OfficerId" type="xs:int" />
      <xs:element minOccurs="0" name="OfficerLastLocationId" type="xs:int" />
      <xs:element minOccurs="0" name="OfficerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speed" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OfficersLastLocationViewDTO" nillable="true" type="tns:OfficersLastLocationViewDTO" />
  <xs:complexType name="VehicleLiveTrackingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="LicenseExpiryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerAge" type="xs:short" />
      <xs:element minOccurs="0" name="OwnerMobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerNationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TowerId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleLiveTrackingDTO" nillable="true" type="tns:VehicleLiveTrackingDTO" />
</xs:schema>